<?xml version="1.0" encoding="UTF-8"?>
<configuration status="warn">
	<Appenders>
<!-- 		<File name="DBConfigFile" filename="log/dbconfig.log"> -->
<!-- 			<PatternLayout> -->
<!-- 				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern> -->
<!-- 			</PatternLayout> -->
<!-- 		</File> -->
<!-- 		<Async name="Async"> -->
<!-- 			<appenderRef ref="DBConfigFile" /> -->
<!-- 		</Async> -->
		<Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="com.sciensa.characterdb" level="debug" additivity="false">
			<AppenderRef ref="ConsoleAppender" />
		</Logger>
		<Root level="info">
			<AppenderRef ref="ConsoleAppender" />
		</Root>
	</Loggers>
</configuration>
